@model List<Category>

@{
    ViewData["Title"] = "Categories list";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="text-left">
        <h1>Categories</h1>
        <br>
        @foreach (Category category in Model)
        {
            <h3>@category.Name</h3>
            foreach (var p in category.Posts)
            {
                <a style="margin: 10px" asp-controller="Blog" asp-action="Post" asp-route-id="@p.Id">@p.Title</a>
            }
        }
    </div>
</div>