@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<User> _signInManager
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    @if (_signInManager.IsSignedIn(User))
    {
        <h1>@_signInManager.UserManager.GetUserName(User)</h1>
    }
    <hr>
    <a asp-controller="Account" asp-action="Login">Login</a><br>
    <a asp-controller="Account" asp-action="LogOut">Logout</a><br>
    <a asp-controller="Account" asp-action="SignUp">Sing up</a><br>
    <br>
    <a asp-controller="Blog" asp-action="Tags">tags</a><br>
    <a asp-controller="Blog" asp-action="MyPosts">posts</a><br>
    <a asp-controller="Blog" asp-action="Categories">Categories</a><br>
    <a asp-controller="Blog" asp-action="CreatePost">Create post</a><br>
</div>